<div class="logo">
  <a href="/library"></a>
</div>
<nav id="navbar" class="hide">
  <ul id="nav-links">
    <li><a href="/books">library</a></li>
    <li><a href="/library"> rack</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  </ul>
</nav>
<button class="hamburger" id="toggler">
  <svg viewBox="0 0 100 80" width="40" height="40">
    <rect width="40" height="7"></rect>
    <rect y="15" width="40" height="7"></rect>
    <rect y="30" width="40" height="7"></rect>
  </svg>
</button>