<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Story Books | Login</title>
  </head>

  <body>
    <div class="login-Container">
      <div class="login-content">
        {{{body}}}
      </div>
      <div class="login-image">
        <h1>Explore the Paradise of Books with book worms...📖❤</h1>
      </div>
    </div>
  </body>
</html>