<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- StyleSheets --}}
    <link rel="stylesheet" href="/css/style.css" />
    
    {{!-- Google Fonts --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Shadows+Into+Light&display=swap" rel="stylesheet">  

    <title>Booksh | Review your Favourite </title>
  </head>

  <body>
     <div class="library-container">
      {{> _sidebar}}
      <div class="library-innerCard">
          {{> _header}}
          {{{body}}}
      </div>
     </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.16.0/ckeditor.js"
    ></script>
    <script>
      CKEDITOR.replace('body', { height: 160, width: 690, });
      
      const hideNav = () => {document.getElementById('navbar').classList.toggle('hide')}
      document.getElementById('toggler').onclick = () =>{hideNav()}
    </script>
  </body>
</html>