{{! <div class="logo loginLogo">
    <a href="/library"></a>
</div> }}

<h1 class="login-content-heading"> Login</h1>
<p class="login-content-intro">
  Find, get, and share views about the books you love, the best community for
  readers and book recommendations..
</p>
<div class="login-content-features">
  <span>Features:-</span>
  <ol>
    <li>&nbsp;Login Using OAuth.</li>
    <li>&nbsp;Complete CRUD Operations.</li>
    <li>&nbsp;Protected Routes that can't be accessed without login.</li>
  </ol>
</div>
<div class="login-content-technology">
  <span>Technology Used:- </span>
  <table>
    <tr>
      <td>HTML (Handlebars) </td>
      <td>Node JS (Express JS) </td>
    </tr>
    <tr>
      <td>CSS (SCSS) </td>
      <td>Passport (For OAuth) </td>
    </tr>
    <tr>
      <td>JS (Vanilla) </td>
      <td>Mongo DB (Database) </td>
    </tr>
  </table>
</div>
<a href="/auth/google" class="login-content-btn">
  Login With Google
</a>
<small>2021 &copy;By Rajan Verma</small>