{{! <div class="logo loginLogo">
    <a href="/library"></a>
</div> }}

<h1 class="login-content-heading"> Login</h1>
<div class="login-content-form">
  <p class="login-content-form-intro">
    Find, get, and share view about books you love on Bookshh, the best
    community for readers and book recommendations..
  </p>
  <div class="form">
    <div class="form__group">
      <input
        type="email"
        class="form__input"
        placeholder="Email address"
        id="email"
        required
      />
      <label for="email" class="form__label">Email address</label>
    </div>
  </div>
</div>
<a href="/auth/google" class="login-content-btn">
  Login With Google
</a>