@import url("https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: rgba(255, 114, 114, 0.5);
}

*::selection {
  background-color: rgba(255, 114, 114, 0.5);
}

body {
  font-size: 1rem;
}

.login-container {
  height: 100%;
  min-width: 80%;
  -webkit-box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.4);
  background-color: #fdfdfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-content {
  min-height: 60%;
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-content-heading {
  color: #524c4c;
  font-weight: 900;
  font-size: 2.9rem;
  font-family: "Acme", sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.login-content-form-intro {
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  font-family: "Acme", cursive;
  text-align: center;
  color: #524c4c;
  font-weight: 200;
}

.login-content-btn {
  background-image: linear-gradient(120deg, #f15b5b, #b45151);
  padding: 0.8rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  color: #fdfdfd;
  letter-spacing: 0.12rem;
  font-weight: 600;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.login-content-btn:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.login-image {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  min-height: 100%;
  -webkit-clip-path: polygon(7% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(7% 0, 100% 0, 100% 100%, 0 100%);
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 114, 114, 0.5) 40%, rgba(255, 114, 114, 0.7) 100%), url("https://images.unsplash.com/photo-1604866830893-c13cafa515d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjMxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.login-image h1 {
  color: #fff7f7;
  font-weight: 900;
  font-size: 1.6rem;
  font-family: "Acme", sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  max-width: 90%;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1rem;
  font-family: inherit;
  color: inherit;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(206, 199, 199, 0.3);
  border-bottom: 3px solid transparent;
  width: 70%;
  margin: 0 auto;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 400) {
  .form__input {
    width: 100%;
  }
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #f76a6a;
}

.form__input:focus:invalid {
  border-bottom: 2px solid #ff0000;
}

.form__input::-webkit-input-placeholder {
  color: #cac8c8;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}
/*# sourceMappingURL=style.css.map */