@import url("https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::selection {
    background-color: rgba(255, 114, 114, 0.5);
  }
}
@mixin flexing($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

body {
  font-size: 1rem;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fad8dc;
  @media screen and (max-width: 900px) {
    font-size: 0.7rem;
  }
}

.login {
  &-container {
    height: 100%;
    min-width: 80%;
    box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.4);
    background-color: #fdfdfd;
    @include flexing(row, space-between, center);
  }

  &-content {
    min-height: 80%;
    margin: auto;
    flex: 1;
    @include flexing(column, space-around, center);

    @media screen and (max-width: 900px) {
      min-height: 90%;
    }

    @media screen and (max-width: 750px) {
      min-height: 100%;
      background-image: linear-gradient(
          120deg,
          rgba(0, 0, 0, 0.4) 0%,
          rgba(255, 114, 114, 0.6) 60%,
          rgba(255, 114, 114, 0.7) 100%
        ),
        url("https://images.unsplash.com/photo-1604866830893-c13cafa515d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjMxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      backface-visibility: hidden;
    }

    &-heading {
      color: #524c4c;
      font-weight: 900;
      font-size: 2.9rem;
      font-family: "Acme", sans-serif;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      text-decoration: underline;

      @media screen and (max-width: 900px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 750px) {
        color: #fff7f7;
      }
    }

    &-intro,
    &-features,
    &-technology {
      width: 80%;
      font-size: 0.8rem;
      letter-spacing: 0.15rem;
      font-family: "Acme", cursive;
      text-align: center;
      color: #524c4c;
      line-height: 1.4rem;
      font-weight: 200;

      @media screen and (max-width: 900px) {
        width: 95%;
        align-self: flex-end;
        line-height: 1.2rem;
      }
      @media screen and (max-width: 750px) {
        color: #fff7f7;
      }
    }

    &-btn {
      background-image: linear-gradient(120deg, #f15b5b, #b45151);
      padding: 0.8rem 2rem;
      border-radius: 4px;
      text-decoration: none;
      color: #fdfdfd;
      letter-spacing: 0.12rem;
      font-weight: 600;
      transition: all 0.2s linear;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
      margin-top: 1rem;

      @media screen and (max-width: 900px) {
        padding: 0.6rem 1rem;
      }

      @media screen and (max-width: 750px) {
        background-image: linear-gradient(120deg, #fdfdfd, #fdd5d5);
        color: #b45151;
        margin-top: 0rem;
      }

      &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        transform: scale(1.013);
      }
      &:focus {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
      }
    }

    &-features,
    &-technology {
      text-align: start;
      margin-top: 1rem;

      @media screen and (max-width: 900px) {
        margin-top: 0.5rem;
      }
      & span {
        color: #b45151;
        font-weight: 900;
        font-size: 0.9rem;

        @media screen and (max-width: 750px) {
          color: #fff7f7;
        }
      }
      & li {
        margin: 0.5rem 0;
        @media screen and (max-width: 900px) {
          margin: 0.5rem;
        }
      }
    }

    &-technology {
      & table,
      & th,
      & tr,
      & td {
        font-size: 0.8rem;
        letter-spacing: 0.15rem;
        font-family: "Acme", cursive;
        text-align: start;
        color: #524c4c;
        line-height: 1.4rem;
        font-weight: 200;

        @media screen and (max-width: 900px) {
          letter-spacing: 0.1rem;
          line-height: 1.2rem;
        }

        @media screen and (max-width: 750px) {
          color: #fff7f7;
        }
      }
      & table {
        width: 100%;
      }
    }
    small {
      letter-spacing: 0.15rem;
      font-family: "Acme", cursive;
      text-align: center;
      color: #524c4c;
      font-weight: 200;
      margin-top: 2rem;

      @media screen and (max-width: 750px) {
        color: #fff7f7;
        margin-top: 0rem;
      }
    }
  }

  &-image {
    flex: 1.5;
    min-height: 100%;
    clip-path: polygon(7% 0, 100% 0, 100% 100%, 0 100%);
    background-image: linear-gradient(
        120deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(255, 114, 114, 0.5) 40%,
        rgba(255, 114, 114, 0.7) 100%
      ),
      url("https://images.unsplash.com/photo-1604866830893-c13cafa515d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjMxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    @include flexing(column, center, center);
    pointer-events: none;

    @media screen and (max-width: 900px) {
      flex: 1.2;
    }

    @media screen and (max-width: 750px) {
      display: none;
    }

    & h1 {
      color: #fff7f7;
      font-weight: 900;
      font-size: 1.6rem;
      font-family: "Acme", sans-serif;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      max-width: 90%;
      text-align: center;
      flex-wrap: wrap;
      user-select: none;

      @media screen and (max-width: 900px) {
        font-size: 1.2rem;
        max-width: 100%;
      }
    }
  }
}


.library {
  &-container {
    height: 85%;
    width: 90%;
    border-radius: 20px;
    @include flexing(row, space-between, flex-start);
    padding: 1rem 1rem 1rem 0;
    background-image: linear-gradient(
      120deg,
      rgba(241, 91, 91, 0.9) 0%,
      rgba(112, 34, 34, 0.8) 100%
    );
  }
  &-sidebar {
    height: 100%;
    flex: 1 1 20%;
  }
  &-innerCard {
    height: 100%;
    background-color: #fad8dc;
    flex: 1 1 80%;
    border-radius: 20px;
  }
}
