@import url("https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: rgba(255, 114, 114, 0.5);
}

*::selection {
  background-color: rgba(255, 114, 114, 0.5);
}

body {
  font-size: 1rem;
  height: 100vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fad8dc;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 0.7rem;
  }
}

.login-container {
  height: 100%;
  min-width: 80%;
  -webkit-box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.4);
  background-color: #fdfdfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-content {
  min-height: 80%;
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 900px) {
  .login-content {
    min-height: 90%;
  }
}

@media screen and (max-width: 750px) {
  .login-content {
    min-height: 100%;
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 114, 114, 0.6) 60%, rgba(255, 114, 114, 0.7) 100%), url("https://images.unsplash.com/photo-1604866830893-c13cafa515d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjMxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
}

.login-content-heading {
  color: #524c4c;
  font-weight: 900;
  font-size: 2.9rem;
  font-family: "Acme", sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .login-content-heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .login-content-heading {
    color: #fff7f7;
  }
}

.login-content-intro, .login-content-features, .login-content-technology {
  width: 80%;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  font-family: "Acme", cursive;
  text-align: center;
  color: #524c4c;
  line-height: 1.4rem;
  font-weight: 200;
}

@media screen and (max-width: 900px) {
  .login-content-intro, .login-content-features, .login-content-technology {
    width: 95%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 750px) {
  .login-content-intro, .login-content-features, .login-content-technology {
    color: #fff7f7;
  }
}

.login-content-btn {
  background-image: linear-gradient(120deg, #f15b5b, #b45151);
  padding: 0.8rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  color: #fdfdfd;
  letter-spacing: 0.12rem;
  font-weight: 600;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
}

@media screen and (max-width: 900px) {
  .login-content-btn {
    padding: 0.6rem 1rem;
  }
}

@media screen and (max-width: 750px) {
  .login-content-btn {
    background-image: linear-gradient(120deg, #fdfdfd, #fdd5d5);
    color: #b45151;
    margin-top: 0rem;
  }
}

.login-content-btn:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.013);
          transform: scale(1.013);
}

.login-content-btn:focus {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.login-content-features, .login-content-technology {
  text-align: start;
  margin-top: 1rem;
}

@media screen and (max-width: 900px) {
  .login-content-features, .login-content-technology {
    margin-top: 0.5rem;
  }
}

.login-content-features span, .login-content-technology span {
  color: #b45151;
  font-weight: 900;
  font-size: 0.9rem;
}

@media screen and (max-width: 750px) {
  .login-content-features span, .login-content-technology span {
    color: #fff7f7;
  }
}

.login-content-features li, .login-content-technology li {
  margin: 0.5rem 0;
}

@media screen and (max-width: 900px) {
  .login-content-features li, .login-content-technology li {
    margin: 0.5rem;
  }
}

.login-content-technology table,
.login-content-technology th,
.login-content-technology tr,
.login-content-technology td {
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  font-family: "Acme", cursive;
  text-align: start;
  color: #524c4c;
  line-height: 1.4rem;
  font-weight: 200;
}

@media screen and (max-width: 900px) {
  .login-content-technology table,
  .login-content-technology th,
  .login-content-technology tr,
  .login-content-technology td {
    letter-spacing: 0.1rem;
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 750px) {
  .login-content-technology table,
  .login-content-technology th,
  .login-content-technology tr,
  .login-content-technology td {
    color: #fff7f7;
  }
}

.login-content-technology table {
  width: 100%;
}

.login-content small {
  letter-spacing: 0.15rem;
  font-family: "Acme", cursive;
  text-align: center;
  color: #524c4c;
  font-weight: 200;
  margin-top: 2rem;
}

@media screen and (max-width: 750px) {
  .login-content small {
    color: #fff7f7;
    margin-top: 0rem;
  }
}

.login-image {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  min-height: 100%;
  -webkit-clip-path: polygon(7% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(7% 0, 100% 0, 100% 100%, 0 100%);
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 114, 114, 0.5) 40%, rgba(255, 114, 114, 0.7) 100%), url("https://images.unsplash.com/photo-1604866830893-c13cafa515d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjMxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

@media screen and (max-width: 900px) {
  .login-image {
    -webkit-box-flex: 1.2;
        -ms-flex: 1.2;
            flex: 1.2;
  }
}

@media screen and (max-width: 750px) {
  .login-image {
    display: none;
  }
}

.login-image h1 {
  color: #fff7f7;
  font-weight: 900;
  font-size: 1.6rem;
  font-family: "Acme", sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  max-width: 90%;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 900px) {
  .login-image h1 {
    font-size: 1.2rem;
    max-width: 100%;
  }
}

.library-container {
  height: 85%;
  width: 90%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem 1rem 1rem 0;
  background-image: linear-gradient(120deg, rgba(241, 91, 91, 0.9) 0%, rgba(112, 34, 34, 0.8) 100%);
}

.library-sidebar {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.library-innerCard {
  height: 100%;
  background-color: #fad8dc;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
  border-radius: 20px;
}
/*# sourceMappingURL=style.css.map */